<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceSoap1" />
                <binding name="WebServiceSoap2" />
                <binding name="WebServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49270/WebService.asmx" binding="basicHttpBinding"
                bindingConfiguration="WebServiceSoap1" contract="ServiceReferences.WebServiceSoap"
                name="WebServiceSoap1" />
            <endpoint address="http://localhost:49270/WebService.asmx" binding="basicHttpBinding"
                bindingConfiguration="WebServiceSoap2" contract="ServiceReferences.WebServiceSoap"
                name="WebServiceSoap2" />
            <endpoint address="http://localhost:49270/WebService.asmx" binding="basicHttpBinding"
                bindingConfiguration="WebServiceSoap" contract="ServiceReference.WebServiceSoap"
                name="WebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>