<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Register.Properties.Settings.st2645hConnectionString"
            connectionString="Data Source=sql-server;Initial Catalog=st2645h;Persist Security Info=True;User ID=st2645h;Password=!1SQLServer"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>