<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DatabaseLibrary.Properties.Settings.st2645hConnectionString"
            connectionString="Data Source=sql-server;Initial Catalog=st2645h;Persist Security Info=True;User ID=st2645h;Password=!1SQLServer"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>